body {
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh; 
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.contact-form {
    background-color: rgba(0, 123, 255, 0.1); /* Azul con 10% de opacidad */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}
.contact-form h2{
    text-align: center;
    font-weight: bold;
    color: rgb(12, 130, 240);
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

.submit-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Azul sólido para el botón */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    background-color: #11dd22; /* Azul más oscuro para el hover */
}
