body {
    background-color: white;
    padding: 0%;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
}

/* principla  */
.row.d-flex {
    display: flex;
    justify-content: center;
}
.row.align-items-center {
    align-items: center;
}
.text-center img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
   
}
/* quienes somos  */
.contInicio {
    text-align: center;
}

.contInicio img {
    max-width: 50%;
    height: auto;
    margin-bottom: 90px;
}

/* sobre nosotros */
.quienesSomos {
    text-align: center;
}

.quienesSomos img {
    max-width: 40%;
    height: auto;
    margin-bottom: 90px;
}

/* mision  */
.mision {
    text-align: center;
}

.mision img {
    max-width: 40%;
    height: auto;
    margin-bottom: 90px;
}

/* vision  */
.vision {
    text-align: center;
}

.vision img {
    max-width: 40%;
    height: auto;
    margin-bottom: 90px;
}
.container-fluid h1{
    color: rgb(12, 130, 240);
    font-weight: bold;
}